*{
    margin: 0px;
    padding: 0px;
}

/* Andrey */
#NavBar{
    background-color: black;
}

#NavBar li a{
    font-size: 24px;
}

#home{
    margin: 0px;
}
.fotoDentro{
    background-size: cover;
    position: relative

}

.parallax { 
    /* The image used */
    background-image: url(../img/ampm.jpeg);

    /* Set a specific height */
    height: auto; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%);  */
     
  }



.estrela{
    width: 80%;
}

/* Couto */
#setores{
    height: 100%;
    width: 100%;
    /* background-color: #333333; */
    /* background-color: transparent; */
    padding: 3em;
    margin-top:500px; 

}

#setores .card{
    background-color: #131313 !important;
    border-radius: 10px !important;
}

#setores .card:hover{ 
    box-shadow: 1px 2px 30px 1px rgba(239,50,51,1);
}

#setores .card .card-image{
    text-align: center;
    padding: 1em;
}

#setores .card .card-image i{
    color: #EF3233;
    font-size: 9vw;
}

#setores .card .card-image i:hover{
    opacity: 0.9;
}
@media screen and (min-width: 1400px) {
    #setores .card .card-image i {
      font-size: 9em;
    }
  }

#setores .card .card-content p{
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}

#setores .card .card-title h5{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: honeydew;
    font-size: 1.5em;   
    text-shadow: 0 0 3px #131313, 0 0 5px #FF0000;
}
@media screen and (max-width: 1200px) {
    #setores .card .card-title h5 {
      font-size: 3vw;
    }
  }
@media screen and (max-width: 600px) {
    #setores .card .card-title h5 {
        font-size: 1em;
    }
    #setores .card .card-image i {
        font-size: 6em;
    }
}

/* MD */
.page{
	display: block;
    height: 400px;	
    margin: 0px;	
}
	
/* .pageHeader{
	background-color: #FFC9FF;
	float: left;
	clear: none;
	min-height: 150px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	} */

.pageLeftPanel{
	/* background-color: #8B0000; */
	float: left;
	clear: none;
	min-height: 425px;
	width: 650px;
	box-sizing: border-box;
	padding: 11px; 
	}
	
	
.pageContent{
    /* background-color: #363636;  */
    
	float: left;
	clear: none;
	/* min-height: 425px;
	width: 695px; */
	box-sizing: border-box;
	padding: 11px;
	}
	



.pageFooter{
	
	background-color: #131313;
	float: left;
	clear: none;
	min-height: 50px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 0px;
	
	}

.pageLeftPanel i{
    font-size: 2em;
    margin-right: 1em;
    display: inline;
    align-items: center;
}

.pageLeftPanel p{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    opacity: 0.9 !important;
    color: #000;
}

.pageLeftPanelBG{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 0.6;
    align-items: center;
}

    
.pageFooter {
    border-top: solid 3px #EF3233;
    margin: 0px;
    padding: 5px;
    background-color: #131313;
    }

.pageFooter p{
    color: white;
}


    