*{
    margin: 0px;
    padding: 0px;
}

        /* Andrey */
#NavBar{
    background-color: black;
}

#NavBar .brand-logo img{
    width:  80%;
    padding: 5px 5px 5px 10px;
}

#NavBar li a{
    font-size: 24px;
    margin-right: 1vw;
}
#NavBar li a:hover{
    filter: grayscale(100%);
}

#NavBar li a img{
    margin-right: 5px;
    width: 20px;
}

.parallax { 
    /* The image used */
    background-image: url(../img/conveniencia2.jpg);

    /* Set a specific height */
    height: auto; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%);  */
     
  }

#home{
    margin:0px;
}

.tittle{
    margin: 0px;
    padding-top: 15vw;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: red;

}

.tittle p{
    font-size: 5vw;
    font-family: 'Ubuntu', sans-serif;
    color: #EF3233;
    text-shadow: 0 0 2px #FFFFFF;
    text-align: center;
    background-color: #131313;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px #EF3233;
    /*padding: 4px;*/
}

            /* Felipe */
#sobre{
    padding-top: 30vw;
    width: 50%;
    margin-left: 50%;
}

#sobre .conteudo{
    background-color: #131313;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.9;
}

#sobre p{
    color: white;
    text-shadow: 0 0 10px #131313, 0 0 20px #131313;
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}


            /* Couto */
#setores{
    height: 100%;
    width: 100%;
    /* background-color: #333333; */
    padding: 3em;
    margin-top:500px; 

}

#setores .card{
    background-color: #131313 !important;
    border-radius: 10px !important;
    size: 80%;
}

#setores .card:hover{ 
    box-shadow: 1px 2px 30px 1px rgba(239,50,51,1);
}

#setores .card .card-image{
    text-align: center;
    padding: 1em;
}

#setores .card .card-image i{
    color: #EF3233;
    font-size: 9vw;
}

#setores .card .card-image i:hover{
    opacity: 0.7;
}

#setores .card .card-content p{
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}

#setores .card .card-title h5{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: honeydew;
    font-size: 1.5em;   
    text-shadow: 0 0 3px #131313, 0 0 5px #FF0000;
}


        /* MD */
.page{
	display: block;
    height: 400px;	
    margin: 0px;	
}

.pageLeftPanel{
	float: left;
	clear: none;
	min-height: 425px;
	width: 650px;
	box-sizing: border-box;
	padding: 11px; 
	}
	
.pageContent{
	float: left;
	clear: none;
	box-sizing: border-box;
	padding: 11px;
}

.pageLeftPanel i{
    font-size: 2em;
    margin-right: 1vw;
}

.pageLeftPanel p{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: black;
}

.pageLeftPanelBG{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /*opacity: 0.8;*/
    border-radius: 20px;
    padding: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.pageFooter {
    border-top: solid 3px #EF3233;
    margin: 0px;
    padding: 5px;
    background-color: #131313;
    text-align: center;
    }

.pageFooter p{
    color: white;
}

.pageFooter a{
    align-items: center;
}

.pageFooter i{
    color: #EF3233;
}

        /*responsivo*/

@media screen and (min-width: 1400px) {
    #setores .card .card-image i {
      font-size: 9em;
    }
  }

@media screen and (max-width: 1200px) {
    #setores .card .card-title h5 {
      font-size: 3vw;
    }
  }
            /*Mobile*/
@media screen and (max-width: 600px) {
    #setores .card .card-title h5 {
        font-size: 1em;
    }
    #setores .card .card-image i {
        font-size: 6em;
    }
    #sobre{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #NavBar .brand-logo img{
        width:  60%;
        padding: 5px 5px 5px 10px;
    }
    .pageLeftPanel{
        width: 100% !important;
    }

    .pageContent{
        width: 100% !important;
        margin-top: 4vw;
    }

    .pageLeftPanel i{
        margin-right: 5px;
    }

    .tittle{
        width: 80%;
    }

    .tittle p{
        border-radius: 4px;
        font-size: 35px;
    }

}